<div id="page-rating">
	<h1>Customer Thermometer</h1>
	<p>How would you rate this documentation?</p>
	<a href="https://app.customerthermometer.com/?template=log_feedback&hash=12800aab&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD01MjMwMQ==&c1=">
		Red Rating
	</a>
	<a href="https://app.customerthermometer.com/?template=log_feedback&hash=9f02bfd4&embed_data=dGVtcGVyYXR1cmVfaWQ9MyZ0aGVybW9tZXRlcl9pZD01MjMwMQ==&c1=">
		Yellow Rating
	</a>
	<a href="https://app.customerthermometer.com/?template=log_feedback&hash=58ca392f&embed_data=dGVtcGVyYXR1cmVfaWQ9MiZ0aGVybW9tZXRlcl9pZD01MjMwMQ==&c1=">
		Green Rating
	</a>
	<a href="https://app.customerthermometer.com/?template=log_feedback&hash=a870c987&embed_data=dGVtcGVyYXR1cmVfaWQ9MSZ0aGVybW9tZXRlcl9pZD01MjMwMQ==&c1=">
		Gold Rating
	</a>
</div>