<hr/>
<style type="text/css">
	.red_rating {
		color: red;
		font-size: 120%;
	}
	.yellow_rating {
		color: gold;
		font-size: 120%;
	}
	.green_rating {
		color: green;
		font-size: 120%;
	}
	.gold_rating {
		color: goldenrod;
		font-size: 90%;
	}
</style>
<script type="text/javascript">
	function txt(t) {
		document.getElementById('rating').innerHTML = t
	}
</script>
<div id="page-rating">
	<p>How would you rate this documentation?
		<a href="https://app.customerthermometer.com/?template=log_feedback&hash=12800aab&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD01MjMwMQ==&c1=" class="red_rating" onmouseover="txt('Blech')" onmouseout="txt('');">
			&#9679;
		</a>
		<a href="https://app.customerthermometer.com/?template=log_feedback&hash=9f02bfd4&embed_data=dGVtcGVyYXR1cmVfaWQ9MyZ0aGVybW9tZXRlcl9pZD01MjMwMQ==&c1=" class="yellow_rating" onmouseover="txt('Yeah, Whatever')" onmouseout="txt('');">
			&#9679;
		</a>
		<a href="https://app.customerthermometer.com/?template=log_feedback&hash=58ca392f&embed_data=dGVtcGVyYXR1cmVfaWQ9MiZ0aGVybW9tZXRlcl9pZD01MjMwMQ==&c1=" class="green_rating" onmouseover="txt('Spiffy')" onmouseout="txt('');">
			&#9679;
		</a>
		<a href="https://app.customerthermometer.com/?template=log_feedback&hash=a870c987&embed_data=dGVtcGVyYXR1cmVfaWQ9MSZ0aGVybW9tZXRlcl9pZD01MjMwMQ==&c1=" class="gold_rating" onmouseover="txt('Freakin\' Awesome!')" onmouseout="txt('');">
			&#9733;
		</a>
		<span id="rating">

		</span>
	</p>
</div>